packages:
  yum:
    python3-devel: []

container_commands:
  00_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
  01_dbmigrate:
    command: "source $PYTHONPATH/activate && python manage.py makemigrations accounts"
  02_dbmigrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"